/******************/
/* REMOTE CONTROL */
/******************/

:root {
  --unit: 55px;
}

@media (max-width: 440px) {
  :root {
    --unit: 11.9vw;
  }
}

.remote-wrapper {
  --height: calc(4.5 * var(--unit));
  position: fixed;
  right: calc(0.2 * var(--unit));
  bottom: calc(-1 * var(--height));
  background-color: #ddd;
  width: calc(8 * var(--unit));
  height: var(--height);
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--unit));
  overflow: hidden;
  align-items: center;
  transition: bottom 150ms ease-in-out;
  border-top-right-radius: calc(0.3 * var(--unit));
  border-top-left-radius: calc(0.3 * var(--unit));
}

body[data-remote="controller"] {
  &[data-hideremote="false"] {
    margin-bottom: calc(4.7 * var(--unit));
  }

  .remote-wrapper {
    bottom: 0;
  }

  &[data-hideremote="true"] .remote-wrapper {
    bottom: calc(-0.9 * var(--height));
  }
}

.remote-buttons {
  position: relative;
  width: calc(7 * var(--unit));
  height: calc(2.5 * var(--unit));
}

.remote-button {
  position: absolute;
  font-weight: bold;
  z-index: var(--z-index-remote-button); /*2*/
  transition: background-color 100ms linear, opacity 100ms linear;

  &:disabled {
    opacity: 0.8;
  }

  &:focus-visible {
    opacity: 0.7;
    z-index: var(--z-index-remote-button-visible); /*1*/
    outline: none;
  }
}

#remote-drawer {
  width: 100%;
  height: calc(0.5 * var(--unit));
  background-color: #888;
  border-radius: 0;
  color: #bbb;
}

.dpad {
  width: calc(1px + var(--unit));
  height: calc(1px + var(--unit));
  border-radius: 8px;

  &:not(:disabled):hover {
    opacity: 85%;
  }

  &#dup {
    top: 0;
    left: 0;
    width: calc(3.02 * var(--unit));
    clip-path: polygon(-1% -1%, 100% 0, 67% 100%, 33% 100%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #161616;
  }

  &#dleft {
    top: 0;
    left: 0;
    height: calc(3.02 * var(--unit));
    clip-path: polygon(-1% -1%, 100% 33%, 100% 67%, 0 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #1b1b1b;
  }

  &#dright {
    top: 0;
    left: calc(2 * var(--unit));
    height: calc(3.02 * var(--unit));
    clip-path: polygon(-1%  33%, 100% -1%, 100% 100%, 0 67%);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #101010;
  }

  &#ddown {
    top: calc(2 * var(--unit));
    left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: calc(3.02 * var(--unit));
    clip-path: polygon(33% -1%, 67% -1%, 100% 100%, 0 100%);
    background-color: #0b0b0b;
  }

  &#dcenter {
    top: calc(1 * var(--unit));
    left: calc(1 * var(--unit));
    border-radius: 0;
    background-color: #030303;

    &:not(:disabled):hover {
      background: #030303;
      opacity: 100%;
      cursor: default;
    }
  }
}


.ssab {
  width: calc(1.5 * var(--unit));
  height: calc(1.5 * var(--unit));
  font-size: calc(0.3 * var(--unit));
  border-radius: 8px;
  background-color: #aaa;
  border: 1px solid #ddd;

  &:not(:disabled):hover {
    background-color: #888;
  }

  &#select {
    top: 0;
    left: calc(4 * var(--unit));
    border-bottom-right-radius: 0;
  }

  &#start {
    top: 0;
    left: calc(5.5 * var(--unit));
    border-bottom-left-radius: 0;
  }

  &#btnb {
    top: calc(1.5 * var(--unit));
    left: calc(4 * var(--unit));
    border-top-right-radius: 0;
  }

  &#btna {
    top: calc(1.5 * var(--unit));
    left: calc(5.5 * var(--unit));
    border-top-left-radius: 0;
  }
}

/****************/
/* SHUTTER ONLY */
/****************/

#btnshutter {
  width: calc(2 * var(--unit));
  height: calc(2 * var(--unit));
  font-size: var(--unit);
}

.remote-shutter-wrapper {
  position: fixed;
  right: calc(-2.1 * var(--unit));
  bottom: calc(3 * var(--unit));
  transition: right 150ms ease-in-out;

  svg {
    width: 65%;
    height: 65%;
  }
}

body[data-remote="shutter"] .remote-shutter-wrapper {
  right: calc(0.5 * var(--unit));
}

.remote-shutterbutton {

}
