.toast-target {
  padding: 40px;
  position: fixed;
  z-index: var(--z-index-toast); /*4*/
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.toast {
  color: #ff9898;
  background: #770000;
  padding: 16px;
  text-align: left;
  border-radius: 8px;
  border: 2px solid currentColor;
  font-size: 16px;
  line-height: 18px;
  max-width: 300px;
  cursor: pointer;
}
