
.remote-control {
  --unit: 55px;
  --height: calc(4.5 * var(--unit));
  position: relative;
  z-index: var(--z-index-remote);

  @media (max-width: 440px) {
    --unit: 11.9vw;
  }

  /*****************************/
  /* REMOTE CONTROL-CONTROLLER */
  /*****************************/
  &__controller-wrapper {
    position: fixed;
    right: calc(0.2 * var(--unit));
    bottom: calc(-1 * var(--height));
    background-color: #ddd;
    width: calc(8 * var(--unit));
    height: var(--height);
    display: flex;
    flex-direction: column;
    gap: calc(0.5 * var(--unit));
    overflow: hidden;
    align-items: center;
    transition: bottom 150ms ease-in-out;
    border-top-right-radius: calc(0.3 * var(--unit));
    border-top-left-radius: calc(0.3 * var(--unit));

    body[data-remote="controller"] & {
      bottom: 0;
    }

    body[data-hideremote="true"] & {
      bottom: calc(-0.9 * var(--height));
    }
  }

  &__drawer {
    width: 100%;
    height: calc(0.5 * var(--unit));
    background-color: #888;
    border-radius: 0; // ToDo
    color: #bbb;
  }

  &__controller {
    display: flex;
    flex-direction: row;
    gap: var(--unit);
    width: calc(7 * var(--unit));
    height: calc(2.5 * var(--unit));
  }

  &__dpad, &__ssab {
    width: calc(3 * var(--unit));
    height: calc(3 * var(--unit));
    border-radius: 10px;
    overflow: hidden;
  }

  &__dpad {
    position: relative;
    background-color: #000;
  }

  &__dpad-button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &[data-value="0x04"] {
      clip-path: polygon(0 0, 100% 0, 67% 33%, 33% 33%);
      background-color: #161616;
    }

    &[data-value="0x02"] {
      clip-path: polygon(0 0, 33% 33%, 33% 67%, 0 100%);
      background-color: #1b1b1b;
    }

    &[data-value="0x01"] {
      clip-path: polygon(67% 33%, 100% 0, 100% 100%, 67% 67%);
      background-color: #101010;
    }

    &[data-value="0x08"] {
      clip-path: polygon(33% 67%, 67% 67%, 100% 100%, 0 100%);
      background-color: #0b0b0b;
    }
  }

  &__ssab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
  }

  &__ssab-button {
    border-radius: 0; // ToDo
    font-size: calc(0.3 * var(--unit));
    background-color: #aaa;
    height: 100%;
    width: 100%;
  }

  /****************/
  /* SHUTTER ONLY */
  /****************/
  &__shutter-wrapper {
    position: fixed;
    right: calc(-2.1 * var(--unit));
    bottom: calc(3 * var(--unit));
    transition: right 150ms ease-in-out;

    body[data-remote="shutter"] & {
      right: calc(0.5 * var(--unit));
    }

    svg {
      width: 65%;
      height: 65%;
    }
  }

  &__shutter-button {
    width: calc(2 * var(--unit));
    height: calc(2 * var(--unit));
    font-size: var(--unit);
  }
}


