.backdrop {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background: #333333;
  opacity: 0;
  transition: opacity 300ms ease-in-out, left 0ms linear 300ms;
}

%backdrop-visible {
  opacity: 30%;
  left: 0;
  transition: opacity 300ms ease-in-out, left 0ms linear 0ms;
}
