* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  text-align: center;
}

header {
  margin-bottom: 24px;
}

button {
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  background: #b7b7b7;
}

button:not(:disabled):hover {
  cursor: pointer;
  background: #a0a0a0;
}

h1 {
  font-size: 2rem;
  position: relative;
}

:root { --grid-gap: 16px;--num-cols: 1; }
@media screen and (min-width: 450px) { :root { --num-cols: 2; } }
@media screen and (min-width: 640px) { :root { --num-cols: 3; } }
@media screen and (min-width: 830px) { :root { --num-cols: 4; } }
@media screen and (min-width: 1020px) { :root { --num-cols: 5; } }
@media screen and (min-width: 1210px) { :root { --num-cols: 6; } }
@media screen and (min-width: 1400px) { :root { --num-cols: 7; } }

.gallery {
  width: calc(calc(var(--num-cols) * 176px) + calc(var(--num-cols) * var(--grid-gap)) - var(--grid-gap));
  grid-template-columns: repeat(var(--num-cols), 176px);
  display: grid;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  margin: 0 auto;
}

.gallery-image {
  padding: 8px;
  background-color: #eeeeee;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  box-shadow: 0 7px 6px -6px #404040;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.gallery-image:hover {
  background-color: #dedede;
}

.gallery-image button {
  width: 100%;
}

.gallery-image input {
  display: none;
}

.marked-for-action {
  background-color: #d0d0d0;
  border-color: #707070;
  border-width: 2px;
  margin: -1px;
}

.marked-for-action:hover {
  background-color: #c2c2c2;
}

.indicator {
  --color-main: #c2c2c2;
  --color-light: #e7e7e7;
  --color-dark: #424242;

  top: 16px;
  right: 16px;
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: var(--color-main);
  border-radius: 50%;
  margin-left: 24px;
  box-shadow:
    inset 5px 8px 6px -3px var(--color-light),
    0 0 0 1.3px var(--color-dark),
    0 0 5px 5px var(--color-light);
}

.indicator.green {
  --color-main: #00c200;
  --color-light: #9cff9c;
  --color-dark: #064406;
}

.indicator.red {
  --color-main: #c20000;
  --color-light: #ff9c9c;
  --color-dark: #440606;
}
