* { box-sizing: border-box; }
button { font-family: inherit; }
a { color: inherit; }
svg { fill: currentColor; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  text-align: center;
  margin: 0 0 16px 0;
  min-width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

body.fixed {
  overflow: hidden;
}

header {
  margin: 0;
  padding: 8px;
  position: relative;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 8px;
  background: #ffffffe0;
}

button,
a.button {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  background: #b7b7b7;
  height: 32px;
  font-size: 16px;
  line-height: 14px;
  gap: 8px;
  text-decoration: none;
}

.buttons button,
.buttons a.button {
  height: 56px;
  width: 56px;
  padding: 4px;
  gap: 2px;
}

button span.title,
a.button span.title {
  font-size: 11px;
}

#settings {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: -300px;
  z-index: 3;
  background: #fff;
  padding: 48px 0 0 0;
  max-width: 300px;
  width: 100%;
  height: 100vh;
  border-right: 2px solid #eeeeee;
  transition: left 300ms ease-in-out;
}

#settings.visible {
  left: 0;
}

.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background: #333333;
  opacity: 0;
  transition: opacity 300ms ease-in-out, left 0ms linear 300ms;
}

.backdrop.visible {
  opacity: 30%;
  left: 0;
  transition: opacity 300ms ease-in-out, left 0ms linear 0ms;
}

#settings_close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  width: 48px;
  height: 48px;
}

#settings_close:hover {
  color: #999999;
}

.settings-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  padding: 16px;
  flex-grow: 2;
}

.select label {
  font-size: 14px;
  text-align: left;
  padding-bottom: 4px;
}

.select .box {
  border-radius: 4px;
  background: #b7b7b7;
}

.select * {
  display: block;
  width: 100%;
}

.setting-select {
  border: none;
  display: block;
  height: 32px;
  background: none;
  font-size: 16px;
  line-height: 14px;
  padding: 0 8px;
}

a.button:not(:disabled):hover,
button:not(:disabled, .backdrop):hover {
  cursor: pointer;
  background: #a0a0a0;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  position: relative;
  margin: 0;
  padding: 0 28px;
}

:root { --grid-gap: 6px; --num-cols: 1; }
@media screen and (min-width: 370px) { :root { --num-cols: 2; } }
@media screen and (min-width: 390px) { :root { --grid-gap: 16px; } }
@media screen and (min-width: 640px) { :root { --num-cols: 3; } }
@media screen and (min-width: 830px) { :root { --num-cols: 4; } }
@media screen and (min-width: 1020px) { :root { --num-cols: 5; } }
@media screen and (min-width: 1210px) { :root { --num-cols: 6; } }
@media screen and (min-width: 1400px) { :root { --num-cols: 7; } }

.gallery {
  width: calc(calc(var(--num-cols) * 176px) + calc(var(--num-cols) * var(--grid-gap)) - var(--grid-gap));
  grid-template-columns: repeat(var(--num-cols), 176px);
  display: grid;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  margin: 16px auto 0;
}

.gallery-image {
  padding: 8px;
  background-color: #eeeeee;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  box-shadow: 0 7px 6px -6px #404040;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  position: relative;
}

.gallery-image.marked-for-action::after {
  --order-text: attr(data-order);
  content: var(--order-text);
  display: block;
  position: absolute;
  right: -16px;
  top: -16px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  border-radius: 50%;
  background-color: #0077ff;
  color: #cae3ff;
  border: 2px solid currentColor;
}

.gallery-image label {
  cursor: pointer;
}

.gallery-image:hover {
  background-color: #dedede;
}

.gallery-image button {
  width: 100%;
}

.gallery-image input {
  display: none;
}

.marked-for-action {
  background-color: #d0d0d0;
  border-color: #707070;
  border-width: 2px;
  margin: -1px;
}

.marked-for-action:hover {
  background-color: #c2c2c2;
}

.indicator {
  --color-main: #c2c2c2;
  --color-light: #e7e7e7;
  --color-dark: #424242;

  top: 16px;
  right: 16px;
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: var(--color-main);
  border-radius: 50%;
  margin-left: 24px;
  box-shadow:
    inset 5px 8px 6px -3px var(--color-light),
    0 0 0 1.3px var(--color-dark),
    0 0 5px 5px var(--color-light);
}

.indicator.green {
  --color-main: #00c200;
  --color-light: #9cff9c;
  --color-dark: #064406;
}

.indicator.red {
  --color-main: #c20000;
  --color-light: #ff9c9c;
  --color-dark: #440606;
}

.about-link {
  font-size: 12px;
  display: block;
  width: 100%;
  text-align: right;
  padding: 16px;
}

.toast-target {
  padding: 40px;
  position: fixed;
  z-index: 4;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.toast {
  color: #ff9898;
  background: #770000;
  padding: 16px;
  text-align: left;
  border-radius: 8px;
  border: 2px solid currentColor;
  font-size: 16px;
  line-height: 18px;
  max-width: 300px;
  cursor: pointer;
}

#progress {
  width: 200px;
  height: 20px;
  position: fixed;
  background: #ffffff;
  top: 30vh;
  left: calc(50vw - 100px);
  z-index: 3;
  border-radius: 6px;
  overflow: hidden;
  border: 2px solid #999999;
  display: none;
}

#progress_backdrop.visible ~ #progress {
  display: block;
}

.progress-inner {
  width: 0;
  height: 100%;
  background: #333333;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #dddddde0; }
::-webkit-scrollbar-thumb { background: #888888e0; }
::-webkit-scrollbar-thumb:hover { background: #aaaaaae0; }
