:root { --grid-gap: 6px; --num-cols: 1; }
@media screen and (min-width: 370px) { :root { --num-cols: 2; } }
@media screen and (min-width: 390px) { :root { --grid-gap: 16px; } }
@media screen and (min-width: 640px) { :root { --num-cols: 3; } }
@media screen and (min-width: 830px) { :root { --num-cols: 4; } }
@media screen and (min-width: 1020px) { :root { --num-cols: 5; } }
@media screen and (min-width: 1210px) { :root { --num-cols: 6; } }
@media screen and (min-width: 1400px) { :root { --num-cols: 7; } }

.gallery {
  width: calc(calc(var(--num-cols) * 176px) + calc(var(--num-cols) * var(--grid-gap)) - var(--grid-gap));
  grid-template-columns: repeat(var(--num-cols), 176px);
  display: grid;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  margin: 16px auto 0;
}

.gallery-image {
  padding: 8px;
  background-color: #eeeeee;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  box-shadow: 0 7px 6px -6px #404040;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  position: relative;
}

.gallery-image.marked-for-action::after {
  --order-text: attr(data-order);
  content: var(--order-text);
  display: block;
  position: absolute;
  right: -16px;
  top: -16px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  border-radius: 50%;
  background-color: #0077ff;
  color: #cae3ff;
  border: 2px solid currentColor;
}

.gallery-image label {
  cursor: pointer;
}

.gallery-image:hover {
  background-color: #dedede;
}

.gallery-image button {
  width: 100%;
}

.gallery-image input {
  display: none;
}

.marked-for-action {
  background-color: #d0d0d0;
  border-color: #707070;
  border-width: 2px;
  margin: -1px;
}

.marked-for-action:hover {
  background-color: #c2c2c2;
}
